    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>What you’ll learn</h2>
              <div>
                  <br/>
                  <p>The objective of this book is to answer to the most significant question that developers encounter while learning or working with F#.</p>
<p>How can I build a <strong>real-world</strong>, <strong>production-ready</strong>, <strong>end-to-end</strong> application in <strong>F#</strong> using the <strong>functional programming principles</strong>?</p>
<p>Immutability, Type Safety, Pattern Matching, Pure Functions and all other functional programming things sound good on paper but How can I build something useful by applying it?</p>
<p>This book has been created exclusively to answer these questions in a developer-friendly way!</p>
<p>Sounds interesting?</p>
<p>Let&#x2019;s have a look at what we will be learning from this book. </p>

              </div>
              </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Who this book is for</h2>
              <br/>
                  <p>This book targets "intermediate" users of F#. If you are a beginner, I recommend you to checkout the following resources to get the most out of the book</p>
                  <p><strong>-&nbsp;</strong>
                    <a href="http://www.fsharpworkshop.com/">F# Workshop</a>
                  </p>
                  <p><strong>-&nbsp;</strong>
                    <a href="https://fsharpforfunandprofit.com/series/thinking-functionally.html">Thinking Functionally</a>
                  </p>
                  <p><strong>-&nbsp;</strong>
                    <a href="https://fsharpforfunandprofit.com/series/a-recipe-for-a-functional-app.html">A recipe for a functional app</a>
                  </p>
                  <p><strong>-&nbsp;</strong>
                    <a href="https://www.udemy.com/starting-fsharp/">Introduction to F#</a>
                  </p>
                  <p>
                    If you are someone who is familiar with the basics of F# and wants to develop some complex applications beyond the basics, this book will be an excellent companion.
                  </p>
              <br/>
              </div>
        </div>
    </section>