    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>What you’ll learn</h2>
              <div>
                  
                  <p>The objective of this book is to answer the most significant question that developers encounter while learning or working with F#.</p>
<p>How can I build a <strong>real-world</strong>, <strong>production-ready</strong>, <strong>end-to-end</strong> application in <strong>F#</strong> using the <strong>functional programming principles</strong>?</p>
<p>Immutability, Type Safety, Pattern Matching, Pure Functions and all other functional programming things sound good on paper but How can I build something useful by applying it?</p>
<p>This book has been created exclusively to answer these questions in a developer-friendly way!</p>
<p>Sounds interesting?</p>
<p>Let&#x2019;s have a look at what we will be learning from this book. </p>

<p>We are going to build a clone of the Twitter application, <strong><a target="_blank" href="https://github.com/demystifyfp/fstweet">FsTweet</a></strong>. Right from starting an empty directory for the application to deploying it on Azure App Service, we are going to learn step by step.</p>

<br/>
<h4>The features that will be building includes</h4>

<br/>
<div style="margin-left: 50px">
<p><strong>-&nbsp;</strong>Handling new user signups and verifying their email address</p>
<p><strong>-&nbsp;</strong>Authenticating them to access their twitter wall and profile page</p>
<p><strong>-&nbsp;</strong>Following other Twitter users</p>
<p><strong>-&nbsp;</strong>Publishing the tweets to the followers and get real-time updates.</p>
</div>
              </br>
<h4>On the technical side, we are going to learn a lot of things and to quote a few; we&#x2019;ll be learning </h4>

<br/>
<div style="margin-left: 50px">
<p><strong>-&nbsp;</strong>The Application of functional programming principles in a real-world application</p>
<p><strong>-&nbsp;</strong>Server-Side Rendering in Suave using DotLiquid</p>
<p><strong>-&nbsp;</strong>Authentication and Authorisation in Suave</p>
<p><strong>-&nbsp;</strong>Application Logging using <a target="_blank" href="https://logary.github.io/">Logary</a></p>
<p><strong>-&nbsp;</strong>Error handling in asynchronous operations using <a target="_blank" href="http://fsprojects.github.io/Chessie/">Chessie.</a> </p>
<p><strong>-&nbsp;</strong>Database access using <a target="_blank" href="http://fsprojects.github.io/SQLProvider/">SQLProvider</a></p>
<p><strong>-&nbsp;</strong>Database schema management using <a target="_blank" href="https://github.com/fluentmigrator/fluentmigrator">Fluent Migrator</a></p>
<p><strong>-&nbsp;</strong>Realtime Tweet Feeds and Notifications using <a target="_blank" href="https://getstream.io/">GetStream.io</a></p>
</div>
</br>
<p>Overall, It&#x2019;s going to be a lot of fun, and I believe it will add value in your functional programming journey in F#.</p>

              </div>
              </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Who this book is for</h2>
              <br/>
                  <p>This book targets "intermediate" users of F#. If you are a beginner, I recommend you to checkout the following resources to get the most out of the book</p>
                  <p><strong>-&nbsp;</strong>
                    <a target="_blank" href="http://www.fsharpworkshop.com/">F# Workshop</a>
                  </p>
                  <p><strong>-&nbsp;</strong>
                    <a target="_blank" href="https://fsharpforfunandprofit.com/series/thinking-functionally.html">Thinking Functionally</a>
                  </p>
                  <p><strong>-&nbsp;</strong>
                    <a target="_blank" href="https://fsharpforfunandprofit.com/series/a-recipe-for-a-functional-app.html">A recipe for a functional app</a>
                  </p>
                  <p><strong>-&nbsp;</strong>
                    <a target="_blank" href="https://www.udemy.com/starting-fsharp/">Introduction to F#</a>
                  </p>
                  <p><strong>-&nbsp;</strong>
                    <a target="_blank" href="https://www.udemy.com/learn-suave/?couponCode=DEMYSTIFY_FP">Build a web server based on Suave</a>
                  </p>
                  <p>
                    If you are someone who is familiar with the basics of F# and wants to develop some complex applications beyond the basics, this book will be an excellent companion.
                  </p>
              <br/>
              </div>
        </div>
    </section>